<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="width: 500px;height:300px; border-block-end-style:initial;">
        <div id="header_idx" style="width: 00px; background: linear-gradient(90deg, rgba(30,30,241,1) 0%, rgba(0,212,255,1) 35%, rgba(255,255,255,1) 100%); ">
        1 BHK Rent in Palani - 624601
        </div>
        <div style="content: " "; display: table; clear: both;">
            <div style="float: left; width: 33.33%;">
                600 sqft
            </div>
            <div style="float: left; width: 33.33%;">
                1 BHK
            </div>
            <div style="float: left; width: 33.33%;">
                50000 Deposit
            </div>
        </div>
    </div>
</body>
</html>