@using Microsoft.Extensions.Configuration;
@inject IConfiguration config


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section scripts{
            
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/login/login.js"></script>
}