@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="align-items-center">
        <form>
            <div class="form-outline mb-4">
                <input type="email" style="width:80%" id="txtUserName" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <div class="form-outline mb-4">
                <input type="password" style="width:80%" id="txtPassword" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>

            <div class="row mb-4">
                <div >
                    <button type="button" id="btnSignIn" onclick="Submit()" class="btn btn-primary btn-block mb-4">Sign in</button>
                </div>

                <div class="col"><a href="#!">Forgot password?</a> </div>
            </div>
        </form>
    </div>
}

@section scripts{
    <script type="text/javascript" src="~/js/login/login.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
}